html {
    scroll-behavior: smooth;
}

body {
    @include font-worksans-regular;
    margin: 0;
    letter-spacing: -.35px;
    position: relative;

    a {
        color: inherit;
        text-decoration: none;
    }

    .spacer {
        height: 40px;
    }

    #page-wrap{
        a {
            &:hover {
                filter: brightness(90%) contrast(0.8);
            }
        }
    }
}

ins{
    text-decoration: none;
}

.footer{
    @include font-roboto-medium;
    background-color: $color-black-gha;
    position: fixed;
    bottom: 0;
    height: get-vw(30px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: get-vw(13px);
    color: $color-light-white;
}


.button{
    background-color: $color-orange; /* Green */
    border: none;
    color:$color-light-white;
    padding: get-vw(10px) get-vw(15px);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: get-vw(16px);
    @include font-worksans-semibold;
    border-radius: get-vw(30px);
    cursor: pointer;
    box-shadow: 1px 1px 1px 0px $color-grey-line, 0px 0px 5px rgba(0, 0, 0, 0.2);

    @media only screen and (max-width: 767px) {
        padding: 8px 10px;
        font-size: 14px;
        border-radius: 20px;
    }

    &:hover {
        filter: brightness(110%) contrast(0.8);
    }

}


* {
    box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.hide{
    display: none;
    visibility: hidden;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
}
