.header {
    //background-color: $color-teal;
    height: get-vw(50px);
    display: flex;
    justify-content: center;
    align-items: center;
    //color: $color-white;
    letter-spacing: 0.2em;
    font-size: 20px;

    @include font-worksans-semibold;
}